/* @media screen {
    body {
        background-color: silver;
    }
    
    div {
        background-color: plum;
        border: 2px solid purple;
    }
}

@media print {
    div {
        color: red;
    }
} */

@import url(screen.css) screen;
@import url(print.css) print;